<h1 class="register-heading">Feedback Comment</h1>
<form>
    <div class="form-group" [formGroup]="feedbackDetails"  autocomplete="off" (submit)="onSubmit()">
      <label >Feedback Subject</label>
        <input class="form-control" formControlName="fbSubject" >
    </div>
    <div class="form-group">
      <label >Email address</label>
      <input type="email" class="form-control" formControlName="fbEmail">
    </div>
    <div class="form-group">
        <label>Feedback Content</label>
        <textarea class="form-control" rows="3" formControlName="fbContent">
          {{fbContent}}
        </textarea>
    </div>
    <div class="form-group">
      <label>Result Feedback</label>
      <textarea class="form-control"  rows="3" formControlName="isResolve">
        Hi {{studentName}} dear!
      </textarea>
    </div>
    <button type="submit" class="btn btn-primary mx-auto">Comment Feedback</button>
  </form>