<div class="bg-dark-gradient">
  <section class="feature-style bg-light py-4 mb-2" id="services">
    <div class="container">
      <h2 class="font-title pt-5 pb-2">PRINCIPAL’S MESSAGE</h2>
      <p>At ITM College we proudly prioritise a safe and nurturing environment for our students. In order to learn, we
        all must feel safe to make mistakes, one doesn’t learn anything by always making the right choices - mistakes
        are an important step in learning. Indeed, James Joyce described mistakes as “the portals to discovery“. Isn’t
        that what we want for our students – the joy of discovery?</p>
      <p>I look forward to a fulfilling and successful new school year!</p>
      <p> Adam Steven, Principal</p>
    </div>
  </section>

  <section class="bg-light py-4 " id="services">
    <div class="row">
      <div class="col-6 bg-hue-red col-md-4 p-5 align-center justify-center">
        <div class="styled-card p-4 p-absolute">
          <h1 class="font-title">Hello! {{this.userDetail.userName}}</h1>
          <p class="font-body">"Data for Progress is the think tank for the future of progressivism. Through polling,
            policy development, and more, our work shows progressive causes can win. "</p>
          <ul class="inline py-1 px-0">
            <li><a href="#" class=" btn btn-outline-primary " [routerLink]="['/home/UserAdmission']"><i
                  class="fa fa-pencil"></i> Admission</a></li><br>
            <li><a href="#" class=" btn btn-outline-success " [routerLink]="['/home/UserInformation']"><i
                  class="fa fa-user"></i> Your profile</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-8 with-background p-5"></div>
    </div>
  </section>
  <section class="showcase-style p-relative bg-white py-2">
    <div class="container">
      <h2 class="font-handwritten bold text-center pt-2 pb-2"> INSPIRATION EVENT EVERY YEAR</h2>
      <div class="row">
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-2">
          <div class="card p-2 background-cover" style="background-image:url('../../../assets/img/bg/event/e1.jpg');">
            <div class="showcase-content  m-3">
              <div class="showcase-outline border-white">
                <h3 class="p-2 font-handwritten cwhite p-relative">Blood Donation Camp</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-2">
          <div class="card p-2 background-cover" style="background-image:url('../../../assets/img/bg/event/e2.jpg');">
            <div class="showcase-content  m-3">
              <div class="showcase-outline border-white">
                <h3 class="p-2 font-handwritten cwhite p-relative">Organize Tedx Talks</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-2">
          <div class="card p-2 background-cover" style="background-image:url('../../../assets/img/bg/event/e3.jpg');">
            <div class="showcase-content  m-3">
              <div class="showcase-outline border-white">
                <h3 class="p-2 font-handwritten cwhite p-relative">Food Festival</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-2">
          <div class="card p-2 background-cover" style="background-image:url('../../../assets/img/bg/event/e4.jpg');">
            <div class="showcase-content  m-3">
              <div class="showcase-outline border-white">
                <h3 class="p-2 font-handwritten cwhite p-relative">Conduct Creative Contests</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-2">
          <div class="card p-2 background-cover" style="background-image:url('../../../assets/img/bg/event/e5.jpeg');">
            <div class="showcase-content  m-3">
              <div class="showcase-outline border-white">
                <h3 class="p-2 font-handwritten cwhite p-relative">Social Responsibility</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-2">
          <div class="card p-2 background-cover" style="background-image:url('../../../assets/img/bg/event/e6.jpg');">
            <div class="showcase-content  m-3">
              <div class="showcase-outline border-white">
                <h3 class="p-2 font-handwritten cwhite p-relative"> Music & Dance Competitions</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 bg-light" id="courses">
    <div class="container">
      <h2 class="font-title py-2">NEW COURSES TO EXPLORE</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 my-4">
          <div class="card card-blog-2 material-shadow">
            <div class="card-header background-cover p-5"
              style="background-image:url('../../../assets/img/bg/course/c1.jpg')"></div>
            <div class="card-body">
              <h6 class="my-2">By 
                <a href="#" class="cprimary">Dr Alice</a>
                <i class="small pull-right inline">
                  <i class="m-1 fa fa-tag"></i>
                    <a href="#" class="m-1">4 Years</a>
                    <a href="#" class="m-1">Degree</a>
                  </i>
              </h6>
              <h4 class="my-3 font-body">Computer science</h4>
              <p class="mb-3">Computer science degrees deal with the theoretical foundations of information and computation, taking a scientific and practical approach to computation and its applications. Computation is defined as any type of calculation or use of computing technology that...
            
              </p>
              <a href="#" class="cprimary m-1">Read More</a>
              <a href="#" class="cdanger m-1 pull-right"><i class="fa fa-heart-o mr-1"></i>30</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-4">
          <div class="card card-blog-2 material-shadow">
            <div class="card-header background-cover p-5"
              style="background-image:url('../../../assets/img/bg/course/c3.jpg')"></div>
            <div class="card-body">
              <h6 class="my-2"> By 
                <a href="#" class="cprimary">Mr. Richard</a>
                <i class="small pull-right inline">
                  <i class="m-1 fa fa-tag"></i>
                  <a href="#" class="m-1">5Years</a>
                  <a href="#" class="m-1"> Master</a>
                </i>
              </h6>
              <h4 class="my-3 font-body">Masters in Architecture </h4>
              <p class="mb-3">..explore the deeper implications of architectural design in relation to culture and society, and be shown how to utilize your university’s design studios, often including 3D printing machines, material workshops and a range of architectural computer facilities...
              </p>
              <a href="#" class="cprimary m-1">Read More</a>
              <a href="#" class="cdanger m-1 pull-right"><i class="fa fa-heart-o mr-1"></i>30</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-4">
          <div class="card card-blog-2 material-shadow">
            <div class="card-header background-cover p-5"
              style="background-image:url('../../../assets/img/bg/course/c2.jpg')"></div>
            <div class="card-body">
              <h6 class="my-2">By 
                <a href="#" class="cprimary">Dr. Orangle </a>
                <i class="small pull-right inline">
                  <i class="m-1 fa fa-tag"></i>
                  <a href="#" class="m-1">5 Years</a>
                  <a href="#" class="m-1">Degree</a>
                </i>
              </h6>
              <h4 class="my-3 font-body">Masters in Aeronautical Engineering</h4>
              <p class="mb-3">This  will equip you with the knowledge and skills to succeed in this exciting and challenging sector, covering topics such as advanced propulsion, advanced aircraft design, aerodynamics, computational fluid dynamics, flow diagnostics and aerospace stress diagnostics...
              </p>
              <a href="#" class="cprimary m-1">Read More</a>
              <a href="#" class="cdanger m-1 pull-right"><i class="fa fa-heart-o mr-1"></i>30</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="form-style p-relative bg-dark cwhite" id="contact">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 mx-auto p-4">
          <div class="row">
            <div class="col-12 my-3">
              <h2 class="font-title bolder text-center mb-5 ">CONTACT US<div class="mline bg-warning"></div>
              </h2>
            </div>
            <div class="col-md-6 col-12">
              <h6 class="my-3 font-title">ADDRESS</h6>
              <p class="mb-5 ">ITM College, 590 Cach Mang thang 8, District 3, Ho Chi Minh City, Viet Nam</p>
              <h6 class="my-3 font-title">CONTACT</h6>
              <p class="mb-5">
                <i class="fa fa-phone mr-2"></i>+1 100 100 100<br>
                <i class="fa fa-envelope mr-2"></i>ITMCollegeEducation@gmail.com
              </p>
              <h6 class="my-3 font-title">SOCIAL</h6>
                <a class="p-2 m-2 bg-white"><i class="fa fa-facebook cdark"></i></a>
                <a class="p-2 m-2 bg-white"><i class="fa fa-google cdark"></i></a>
                <a class="p-2 m-2 bg-white"><i class="fa fa-twitter cdark"></i></a>
                <a class="p-2 m-2 bg-white"><i class="fa fa-linkedin cdark"></i></a>
            </div>
            <div class="col-md-6 col-12 my-3">
              <form>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control flat" value=" {{this.userDetail.userName}}">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control flat" value=" {{this.userDetail.email}}">
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea class="form-control flat" rows="4"></textarea>
                </div>
                <div class="form-group ">
                  <button type="submit" class="btn btn-outline-warning">
                    <i class="fa fa-paper-plane mr-2"></i>Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>