.with-background {
    min-height: 30rem;
    background-image: url("../../../assets/img/bg/guy_wall.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
ul{
    list-style-type: none;
}
.bg-dark-gradient {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
}
.bg-hue-red {
    background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%); 
}
.feature-style {
    min-height: 30rem;
    background-image: url("../../../assets/img/bg/bg4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.cwhite {
    color: white; 
}
.align-center {
    display: flex;
    align-items: center;
 }
.justify-center {
    display: flex;
    justify-content: center; 
}
.styled-card {
    background: #fff;
    right: -50px;
    z-index: 1;
    left: 5rem;
    top: 10%;
    transform: translate(0, -40%); 
}
.font-title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; 
}
.font-handwritten {
    font-family: "Permanent Marker", cursive; 
}
.p-absolute {
    position: absolute; 
}
.p-relative {
    position: relative; 
}
.border-white {
    border-color: white; 
}
.cprimary {
    color: #007BFF; 
}
.cdanger {
    color: #dc3545; 
}
.cdark {
    color: #343A40; 
}
.inline {
    display: inline-block; 
}
.showcase-style .card {
    min-height: 25rem; 
}
.showcase-style .card:hover .showcase-outline {
  top: -1rem;
  left: 1rem;
  transition: all ease-in 0.2s; 
}
.showcase-style .showcase-content {
    position: relative;
    display: flex;
    flex: 1; 
}
.btn-warning {
    background-color: rgba(255, 193, 7, 0.9); }
    .btn-warning:hover {
      background-color: #ffc107; }
.background-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.bolder {
    font-weight: bolder; 
}
.showcase-style .showcase-content .showcase-outline {
    transition: all ease-in 0.2s;
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-width: 3px;
    border-style: solid;
    width: 100%;
    height: 100%; 
}
.showcase-style .showcase-content .showcase-outline h3 {
    top: 85%; 
}
.material-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); 
}
.card-blog-2 .card-header {
    min-height: 15rem; 
}
.mline {
    position: relative;
    width: 50%;
    margin: 0.5rem auto;
    height: 2px; 
}
.flat {
    border-radius: 0px !important; 
}
  
  

  