<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h1><strong> Stream List</strong></h1>
            <i class="fa fa-user"></i>
            <a class="btn btn-outline-primary" [routerLink]="['streamadd']">Add New</a>
          </div>
          <div class="card-body">
            <table datatable class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Stream ID</th>
                  <th>Stream Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of StreamList">
                      <td>{{item.streamCode }}</td>
                      <td>{{item.streamName }}</td>
                      <td>
                         <a class="btn text-primary" routerLink="streamedit/{{item.streamCode}}"><i class="fa fa-edit fa-lg"></i></a>
                        <a class="btn text-danger" (click)="onDelete(item.streamCode)"><i class="fa fa-trash fa-lg"></i></a>
                      </td>
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
