<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="card">
        <div class="card-body p-4">
          <form [formGroup]="this.service.StreamForm" autocomplete="off" (submit)="onSubmit()">
            <h1>Add New Stream</h1>
            <p class="text-muted">Futher details can be collected in HumanResources!</p>
            <div class="form-group mb-3">
              <label class="">Stream ID</label>
              <input class="form-control" formControlName="streamCode" required>
              <label class="text-danger" *ngIf="service.StreamForm.get('streamCode')?.touched && service.StreamForm.get('streamCode')?.errors?.required">This field is mandatory.</label>
            </div>
            <div class="form-group mb-3">
              <label class="">Stream Name</label>
              <input class="form-control" formControlName="streamName" required>
              <label class="text-danger" *ngIf="service.StreamForm.get('streamName')?.touched && service.StreamForm.get('streamName')?.errors?.required">This field is mandatory.</label>
            </div>
          <button type="submit" class="btn btn-outline-info btn-lg mx-auto d-block" [disabled]="!service.StreamForm.valid" style="letter-spacing:3px;">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
