.image{
    height:100%; 
    background-size:cover; 
    background-repeat:'no-reapeat';
    width:auto;
    background-image:url('/../../assets/img/bg/bg4.jpeg');
    background-position:50% 50%;
  }