<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="card">
        <div class="card-body p-4">
          <form [formGroup]="service.FieldForm" autocomplete="off" (submit)="onSubmit()">
            <h1>Add New Field</h1>
            <p class="text-muted">Futher details can be collected in HumanResources!</p>
            <div class="form-group mb-3">
              <label class="">Field Code</label>
              <input class="form-control" formControlName="FieldCode" required >
              <label class="text-danger" *ngIf="service.FieldForm.get('FieldCode')?.touched && service.FieldForm.get('FieldCode')?.errors?.required">This field is mandatory.</label>
            </div>
            <div class="form-group mb-3">
              <label class="">Field Name</label>
              <input class="form-control" formControlName="FieldName" required >
              <label class="text-danger" *ngIf="service.FieldForm.get('FieldName')?.touched && service.FieldForm.get('FieldName')?.errors?.required">This field is mandatory.</label>
            </div>
            <div class="form-group mb-3">
              <label class="">Stream Name</label>
              <select class="form-control" formControlName="StreamCode" required>
                <option *ngFor="let item of Streamlist" [value]="item.streamCode">
                  {{item.streamName}}
                </option>
              </select>
              <label class="text-danger" *ngIf="service.FieldForm.get('streamCode')?.touched && service.FieldForm.get('streamCode')?.errors?.required">This field is mandatory.</label>
            </div>
          <button type="submit" class="btn btn-outline-info btn-lg mx-auto d-block" [disabled]="!service.FieldForm.valid" style="letter-spacing:3px;">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

