<fieldset class="border p-2">
    <legend class="w-auto">Change Password</legend>
    <form [formGroup]="service.changePwForm"  *ngIf="service.changePwForm" (ngSubmit)="onSubmit()" >
      <div class="form-group mx-4">
          <label>Old Password</label>
          <input class="form-control" formControlName="CurrentPassword" name="CurrentPassword" >
          <label class="text-danger" *ngIf="service.changePwForm.get('CurrentPassword')?.touched && service.changePwForm.get('CurrentPassword')?.errors?.required">This field is mandatory.</label>
      </div>
      <div formGroupName="Passwords" >
        <div class="form-group mx-4">
            <label>New Password</label>
            <input type="password" class="form-control" formControlName="Password" placeholder="New Password..">
            <label class="text-danger" *ngIf="service.changePwForm.get('Passwords.Password')?.touched && service.changePwForm.get('Passwords.Password')?.errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="service.changePwForm.get('Passwords.Password')?.touched && service.changePwForm.get('Passwords.Password')?.errors?.minlength">Minimum 4 characters required.</label>
        </div>
        <div class="form-group mx-4">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="Confirm Password..">
            <label class="text-danger" *ngIf="service.changePwForm.get('Passwords.ConfirmPassword')?.touched && service.changePwForm.get('Passwords.ConfirmPassword')?.errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="service.changePwForm.get('Passwords.ConfirmPassword')?.touched && service.changePwForm.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch">Confirm Password not match.</label>
        </div>
      </div>  
      <div class="form-group">
          <button  type="submit" class="btn btn-outline-info btn-lg mx-auto d-block" [disabled]="!service.changePwForm.valid" style="letter-spacing:3px;"><i class="fa fa-pencil"> Submit</i></button>
      </div>
    </form>
  </fieldset>
  