
<div class="container mb-5 mt-5">
    <section class="sec-wrapper">
        <fieldset class="border p-4">
            <legend class="w-auto">Student Information</legend>
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            <ul class="list-group mb-15" >
                                <li class="list-group-item d-flex justify-content-between align-items-center p-0 border-0 mb-1"     >
                                    <div class="admission-check">
                                        <form  class="form-inline" [formGroup]="getAdmissionForm" *ngIf="getAdmissionForm" (ngSubmit)="onSubmit()">
                                            <div class="form-group">
                                                <input class="form-control" formControlName="Email" name="Email" hidden required>
                                            </div>
                                            <div class="form-group">
                                                <label>Your Admission ID </label>
                                                <input class="form-control" formControlName="AdmissionID" name="AdmissionID" >
                                            </div>
                                            <div class="form-group" *ngIf="(userDetail.admissionID==null)">
                                                <button  type="submit" class="btn btn-outline-info btn-md pd-1 mx-1 d-block" [disabled]="!getAdmissionForm.valid" ><i class="fa fa-pencil"> Submit</i></button>
                                            </div>
                                        
                                        </form>
                                        <br>
                                        <div class="alert-details ml-4">
                                            <small class="ml-2"> <strong>Student Email :</strong> </small><br />
                                            <small class="ml-2"> <strong>Field : </strong> </small><br />
                                            <small class="ml-2"> <strong>Stream : </strong> </small><br />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </section>
    <section class="sec-wrapper">
        <fieldset class="border p-4">
          <legend class="w-auto">Your Subjects  </legend>
          <div class="row">
              <div class="col-lg">
                  <div class="row">
                      <div class="col">
                          <ul class="list-group mb-15" >
                              <li class="list-group-item d-flex justify-content-between align-items-center text-light p-0 border-0 mb-1"     >
                                  <div class="col-md-6 mx-2 my-2" >
                                      <table class="table table-striped table-inverse table-responsive px-5 py-2">
                                          <thead class="thead-inverse">
                                              <tr class="mx-2 my-2">
                                                  <th>Specialized Subjects</th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                                  <tr >
                                                      <td scope="row" >{{item.SubjectName}}</td>
                                              </tbody>
                                      </table>                    
                                  </div>
                                  <div class="col-md-6 mx-2 my-2" >
                                    <table class="table table-striped table-inverse table-responsive px-5 py-2">
                                        <thead class="thead-inverse">
                                            <tr class="mx-2 my-2">
                                                <th>Optional Subjects</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr >
                                                    <td scope="row" >{{item.OptionalName}}</td>
                                            </tbody>
                                    </table>                    
                                </div>

                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
        </fieldset>  
      </section>
  
    <section class="sec-wrapper">
      <fieldset class="border p-4">
        <legend class="w-auto">Schedule Table</legend>
        <div class="row">
            <div class="col-lg">
                <div class="row">
                    <div class="col">
                        <ul class="list-group mb-15" >
                            <li class="list-group-item d-flex justify-content-between align-items-center text-light p-0 border-0 mb-1"     >
                                <div class="alert  alert-wth-icon show m-0 w-100" role="alert">
                                    <table class="table table-striped table-inverse table-responsive px-5 py-2">
                                        <thead class="thead-inverse">
                                            <tr class="mx-2 my-2">
                                                <th>Subject</th>
                                                <th>Monday</th>
                                                <th>Tuesday</th>
                                                <th>Wednesday</th>
                                                <th>Thursday</th>
                                                <th>Friday</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td scope="row"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                    </table>                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </fieldset>  
    </section>
</div>