
<div class="container mt-5 mb-5">
    <section class="sec-wrapper">
        <fieldset class="border p-4">
            <legend class="w-auto">Schedule Table</legend>
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            <ul class="list-group mb-15" >
                                <li class="list-group-item d-flex justify-content-between align-items-center text-light p-0 border-0 mb-1"     >
                                    <div class="alert  alert-wth-icon show m-0 w-100" role="alert">
                                        <span class="alert-icon-wrap">
                                            <i class=" text-light fa-2x d-none d-md-block pl-2"></i>
                                        </span>
                                        <div class="alert-details ml-4">
                                            <small> <strong>Admission: </strong> </small>
                                            <small class="ml-2"> <strong>Student ID: </strong> </small>
                                            <small class="ml-2"> <strong>Field : </strong> </small>
                                            <small class="ml-2"> <strong>Stream : </strong> </small><br />
                                            <small> <strong>Class: </strong></small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </section>
</div>