<div class="app-body image"> 
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Password Recovery</h3>
                </div>
                <div class="card-body" id="forgotPassCard">
                    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                <input formControlName="Email" type="email" name="Email" class="form-control" placeholder="Your Email.." />
                            </div>                    
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Submit" [disabled]="!insertForm.valid" class="btn float-right forgot_btn" >Submit</button>
                        </div>
                        <div id="errors" >
                            <span class="text-danger" *ngIf="insertForm.get('Email')?.touched && insertForm.get('Email')?.errors?.required">This field is mandatory.</span>
                            <span class="text-danger" *ngIf="insertForm.get('Email')?.touched && insertForm.get('Email')?.errors?.email">Invalid Email</span>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">Don't have an account?<a [routerLink]="['/register']">Sign Up</a></div>
                </div>
            </div>
        </div>
    </div>
</div>