.bg-dark-gradient {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
}
.p-relative {
    position: relative; 
}
.font-title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter; 
}
  

.header-style {
    background-image: url('../../../assets/img/bg/stu2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-style .stu_img {
    background-repeat: no-repeat;
    background-size:cover;
    width:300px;
    height:300px;
    top:30%;
    position: relative; 
}
ul {
    list-style-type: none;
}
a {
    color: inherit;
    opacity: 0.9; }
    a:hover {
      text-decoration: none;
      color: inherit;
      opacity: 1;
      cursor: pointer; 
    }

.align-center {
  display: flex;
  align-items: center; }

.justify-center {
  display: flex;
  justify-content: center; }

.content-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.inline {
  display: inline-block; }

.no-wrap {
  white-space: nowrap; }

.flex-1 {
  flex: 1 !important; }
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
 }

.cwhite {
  color: white; }
  
.p-absolute {
  position: absolute; }

.flex-row {
  flex-direction: row; }

.flex {
  display: flex; }

.material-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.material-shadow-1 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.mline {
  position: relative;
  width: 50%;
  margin: 0.5rem auto;
  height: 2px; }

.z-1 {
  z-index: 1; }

.z-0 {
  z-index: 0; }

.v-line {
  height: 2.5rem;
  display: block;
  position: relative;
  padding: 1px;
  top: 2rem; }

.slanted {
  transform: rotate(-12deg);
  height: 15rem;
  position: absolute;
  background: #fff;
  width: 118%;
  bottom: -8rem;
  display: block; }

.text-hue {
  -ms-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  -webkit-text-fill-color: transparent; }

.left-line {
  display: inline-block;
  height: 0.2rem;
  width: 10rem;
  float: left; }

.o-hidden {
  overflow: hidden; }

.bolder {
  font-weight: bolder; }

.lighter {
  font-weight: lighter; }

.normal-wrap {
  white-space: normal; }

.btn-rounded {
  border-radius: 2rem;
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.border-white {
  border-color: white; }

.border-primary {
  border-color: #007BFF; }

.border-warning {
  border-color: #ffc107; }

.border-success {
  border-color: #28a745; }

.border-info {
  border-color: #17a2b8; }

.border-secondary {
  border-color: #868e96; }

.border-dark {
  border-color: #343A40; }

.border-danger {
  border-color: #dc3545; }

.border-light {
  border-color: #f8f9fa; }

.cwhite {
  color: white; }

.cprimary {
  color: #007BFF; }

.cwarning {
  color: #ffc107; }

.csuccess {
  color: #28a745; }

.cinfo {
  color: #17a2b8; }

.csecondary {
  color: #868e96; }

.cdark {
  color: #343A40; }

.cdanger {
  color: #dc3545; }

.clight {
  color: #f8f9fa; }

.font-b-line:after {
  content: '';
  width: 13%;
  height: 2px;
  display: block;
  background: #007BFF;
  top: 7px;
  position: relative;
  left: 2px; }

footer {
  position: relative; }

.op-1 {
  opacity: 0.1; }

.op-2 {
  opacity: 0.2; }

.op-3 {
  opacity: 0.3; }

.op-4 {
  opacity: 0.4; }

.op-5 {
  opacity: 0.5; }

.op-6 {
  opacity: 0.6; }

.op-7 {
  opacity: 0.7; }

.op-8 {
  opacity: 0.8; }

.op-9 {
  opacity: 0.9; }

.no-border {
  border: 0px; }

.flat {
  border-radius: 0px !important; }

.btn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif; }

.btn-warning {
  background-color: rgba(255, 193, 7, 0.9); }
  .btn-warning:hover {
    background-color: #ffc107; }

.btn-primary {
  background-color: rgba(0, 123, 255, 0.9); }
  .btn-primary:hover {
    background-color: #007BFF; }

.btn-success {
  background-color: rgba(40, 167, 69, 0.9); }
  .btn-success:hover {
    background-color: #28a745; }

.btn-info {
  background-color: rgba(23, 162, 184, 0.9); }
  .btn-info:hover {
    background-color: #17a2b8; }

.btn-danger {
  background-color: rgba(220, 53, 69, 0.9); }
  .btn-danger:hover {
    background-color: #dc3545; }

.btn-secondary {
  background-color: rgba(134, 142, 150, 0.9); }
  .btn-secondary:hover {
    background-color: #868e96; }

.btn-light {
  background-color: rgba(248, 249, 250, 0.9); }
  .btn-light:hover {
    background-color: #f8f9fa; }

.btn-dark {
  background-color: rgba(52, 58, 64, 0.9); }
  .btn-dark:hover {
    background-color: #343A40; }

.font-jumbo {
  font-size: 3.5rem;
  line-height: 4.5rem; }

.corange {
  color: #DA552F; }

.bg-transparent {
  background: transparent; }
  
  .background-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .bg-hue-red {
      background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%); }
  .background-fixed {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; }
  
  /*for tablets and mobiles */
  @media only screen and (max-width: 767px) {
    html {
      font-size: 8px; } }
  .components-list {
    list-style-type: none;
    text-align: center; }
    .components-list li {
      display: inline-block; }
      .components-list li a {
        border: 1px solid rgba(255, 255, 255, 0.4);
        display: inline-block;
        margin: 0.5rem;
        color: #fff;
        padding: 0.25rem 0.5rem;
        border-radius: 0.20rem; }
        .components-list li a:hover {
          text-decoration: none; }

.feature-style-8 .content-feature .icon-container {
  height: 3.375rem;
  min-width: 3.375rem;
  width: 3.375rem;
  padding: 0.55rem 0px;
  font-size: 0.9375rem;
  overflow: hidden;
  line-height: normal;
  top: -1.6rem;
  left: 0px;
  right: 0px;
  margin: auto;
  border-radius: 100%; }
.feature-style-8 .content-feature .title-icon {
  font-size: 1.5rem;
  line-height: 2rem; }
.form-style-9 input {
  border-bottom: 1px solid #fff; }
  .form-style-9 input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff; }
  .form-style-9 input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1; }
  .form-style-9 input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1; }
  .form-style-9 input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff; }
  .form-style-9 input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff; }
    .showcase-style-3 .card {
  min-height: 15rem;
  height: 100%; }
  .showcase-style-3 .card .showcase-details {
    bottom: 5px;
    top: auto; }
    .showcase-style-3 .card .showcase-details a:hover {
      color: #fff; }
.counter-style-3 .card {
  border-style: solid;
  border-width: 3px; }
  .bg-hue-violet {
    background-image: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%); }
  
        