<div class="container navbar"  >
  <nav class="navbar font-title navbar-expand-lg navbar-inverse navbar-dark bg-dark fixed-top ">
    <a class="navbar-brand my-0"><img class="nav-brand" src="./../../../../assets/logo.png" width="120" height="40" alt="ITMLogo"></a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse mr-2 pr-2 w-100">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2" active>
          <a class="nav-link"  (click)="onClick('home')">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown mx-2" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">Admission</a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
              <a class="dropdown-item" [routerLink]="['/admission']" ><i class="fa fa-bell-o"></i>New Admission</a>
              <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i>Admission Status</a>
            </div>
        </li>
    
        <li class="nav-item mx-2"  placement="bottom right">
            <a class="nav-link" tabindex="-1" aria-disabled="true" (click)="onClick('course')" >Courses</a> 
        </li>
        <li class="nav-item mx-2"  placement="bottom right">
            <a class="nav-link" tabindex="-1" aria-disabled="true"  (click)="onClick('department')">Department</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" tabindex="-1" aria-disabled="true" (click)="onClick('facilities')" >Facilities</a> 
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" tabindex="-1" aria-disabled="true" (click)="onClick('faculty')" >Faculty</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" tabindex="-1" aria-disabled="true" (click)="onClick('contact')">Contact Us</a>
        </li>
          <ng-template #elseBlock>
            <li class="nav-item dropdown mx-2" dropdown placement="bottom right">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false"> 
                    Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                  <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-shield"></i> Log in</a>
                  <a class="dropdown-item" [routerLink]="['/register']"><i class="fa fa-user"></i> Creat new Account</a>
                </div>
            </li>  
          </ng-template>
        <li class="nav-item  dropdown mx-2" dropdown *ngIf="isLoggedIn$ | async as isLoggedIn; else elseBlock">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false"> 
            Hi, {{userDetail.userName}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a class="dropdown-item" [routerLink]="['/home']"><i class="fa fa-shield"></i> Your Account</a>
          <a class="dropdown-item" href="#" [routerLink]="['/home/UserInformation']"><i class="fa fa-user"></i> Profile</a>
          <a class="dropdown-item" href="#" [routerLink]="['/home/UserAdmission']"><i class="fa fa-file"></i>Admission<span class="badge badge-info"></span></a>
          <!-- <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i>FeedBack<span class="badge badge-success"></span></a> -->
          <!-- <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning"></span></a> -->
          <a class="dropdown-item" (click)="onLogOut()"><i class="fa fa-lock"></i> Logout</a>
        </div>
        </li>
    
      </ul>
    </div>
  </nav>
</div>


<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<footer class="footer-style p-3 bg-hue-dark cwhite">
  <div class="row">
    <div class="col-12 col-lg-3 my-1 text-center py-2">
      <span class="font-title h5"><b>ITM</b> College</span><br>
      <small class="lighter my-3 op-7 inline">© 2021 Website made with heart.</small>
      <ul class="py-2 px-0">
        <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-google"></i></a></li>
        <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-twitter"></i></a></li>
        <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-6 my-1 text-left py-2 font-title">
      <div class="row">
        <div class="col-4">
          <h6 class="uppercase py-1">Categories</h6>
          <ul class="py-1 px-0">
            <li><a href="#">Department</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Facilities</a></li>
          </ul>
        </div>
        <div class="col-4">
          <h6 class="uppercase py-1">Features</h6>
          <ul class="py-1 px-0">
            <li><a href="#">Responsive</a></li>
            <li><a href="#">ApiServer</a></li>
            <li><a href="#">EasyToUser</a></li>

          </ul>
        </div>
        <div class="col-4">
          <h6 class="uppercase py-1">Technologies</h6>
          <ul class="py-1 px-0">
            <li><a href="#">Angular</a></li>
            <li><a href="#">Asp.net Core</a></li>
            <li><a href="#">CoreUI</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 my-1 text-left py-2">
      <h6 class="uppercase py-1">About</h6>
      <small class="lighter my-3 op-7 inline font-body">A simple to use, modular and responsive set of components and ready made pages to launch your next project.</small>
    </div>
<div class="col-12 ">
    <div class="mline bg-light"></div>
  </div>
    <div class="col-6 py-2">
            <small class="lighter op-7">© 2021 Page made with our heart.</small>
    </div>
    <div class="col-6 text-right">
      <img src="" width="100px">
    </div>
  </div>
</footer>