<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.png', width: 150, height: 150, alt: 'ITM Logo'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false" >
  <ul class="nav navbar-nav ml-auto mx-2">
    <li class="nav-item mx-2" >
      <a class="nav-link" href="" [routerLink]="['/HomePage']">Home</a>
    </li>
    <li class="nav-item dropdown mx-2" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
          Admission
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a class="dropdown-item" [routerLink]="['/admission']" ><i class="fa fa-bell-o"></i>New Admission</a>
          <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i>Admission Status</a>
        </div>
    </li>

    <li class="nav-item dropdown mx-2" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
          Department
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a class="dropdown-item" href="#">Economic & Business</a>
          <a class="dropdown-item" href="#"> Arts and Sciences </a>
          <a class="dropdown-item" href="#"> Engineering </a>
          <a class="dropdown-item" href="#"> Fine Arts and Communication </a>
          <a class="dropdown-item" href="#"> Education and Human Development</a>
          <a class="dropdown-item" href="#"> Other Academic Units </a>
        </div>
    </li>
    <li class="nav-item dropdown mx-2" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
          Courses
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a class="dropdown-item" href="#">Economic & Business</a>
          <a class="dropdown-item" href="#"> Arts and Sciences </a>
          <a class="dropdown-item" href="#"> Engineering </a>
          <a class="dropdown-item" href="#"> Fine Arts and Communication </a>
          <a class="dropdown-item" href="#"> Education and Human Development</a>
          <a class="dropdown-item" href="#"> Other Academic Unit </a>
        </div>
    </li>
    <li class="nav-item mx-2">
        Faculty
    </li>
    <li class="nav-item mx-2">
        Facilities
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#contact" class="">Contact Us</a>
    </li>
  <ng-template #elseBlock>
    <li class="nav-item dropdown mx-2" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false"> 
            Account
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-shield"></i> Log in</a>
          <a class="dropdown-item" [routerLink]="['/register']"><i class="fa fa-user"></i> Creat new Account</a>
        </div>
    </li>  
  </ng-template>
    <li class="nav-item  dropdown mx-2" dropdown *ngIf="isLoggedIn$ | async as isLoggedIn; else elseBlock">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false"> 
        Hi, {{userDetail.userName}}
    </a>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
      <a class="dropdown-item" [routerLink]="['/home']"><i class="fa fa-shield"></i> Your Account</a>
      <a class="dropdown-item" href="#" [routerLink]="['/home/UserInformation']"><i class="fa fa-user"></i> Profile</a>
      <a class="dropdown-item" href="#" [routerLink]="['/home/UserAdmission']"><i class="fa fa-file"></i>Admission<span class="badge badge-info"></span></a>
      <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i>FeedBack<span class="badge badge-success"></span></a>
      <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning"></span></a>
      <a class="dropdown-item" (click)="onLogOut()"><i class="fa fa-lock"></i> Logout</a>
    </div>
    </li>
  </ul>
</app-header>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<footer class="footer-style p-3 bg-hue-dark cwhite">
  <div class="row">
    <div class="col-12 col-lg-3 my-1 text-center py-2">
      <span class="font-title h5"><b>ITM</b> College</span><br>
      <small class="lighter my-3 op-7 inline">© 2021 Website made with heart.</small>
      <ul class="py-2 px-0">
        <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-google"></i></a></li>
        <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-twitter"></i></a></li>
        <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-6 my-1 text-left py-2 font-title">
      <div class="row">
        <div class="col-4">
          <h6 class="uppercase py-1">Categories</h6>
          <ul class="py-1 px-0">
            <li><a href="#">Department</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Facilities</a></li>
          </ul>
        </div>
        <div class="col-4">
          <h6 class="uppercase py-1">Features</h6>
          <ul class="py-1 px-0">
            <li><a href="#">Responsive</a></li>
            <li><a href="#">ApiServer</a></li>
            <li><a href="#">EasyToUser</a></li>

          </ul>
        </div>
        <div class="col-4">
          <h6 class="uppercase py-1">Technologies</h6>
          <ul class="py-1 px-0">
            <li><a href="#">Angular</a></li>
            <li><a href="#">Asp.net Core</a></li>
            <li><a href="#">CoreUI</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 my-1 text-left py-2">
      <h6 class="uppercase py-1">About</h6>
      <small class="lighter my-3 op-7 inline font-body">A simple to use, modular and responsive set of components and ready made pages to launch your next project.</small>
    </div>
<div class="col-12 ">
    <div class="mline bg-light"></div>
  </div>
    <div class="col-6 py-2">
            <small class="lighter op-7">© 2021 Page made with our heart.</small>
    </div>
    <div class="col-6 text-right">
      <img src="" width="100px">
    </div>
  </div>
</footer>