<header class="header-style pt-3 p-relative" >
    <div class="overlay op-8"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-7 p-3 align-center justify-center">
          <div class="content p-relative cwhite">
            <h1 class="font-title p-4 text-left my-3 cwhite"><b>ITM College - Your Future Success</b></h1>
            <p class="p-3 font-title paragraph">Access a set of 100+ courses and create a landing way of your dreams.</p>
            <h3>Your Admission key : {{admissionKey}}</h3>
            <a class="btn btn-primary"  [routerLink]="['/']" ><i class="fa fa-home mr-1"></i>Home</a>
            <a class="btn btn-success m-1"  [routerLink]="['/admissionstatus']" ><i class="fa fa-android mr-3"></i>Check Admission</a>
          </div>
        </div>
        <div class="col-12 col-sm-5 text-center"><img style="max-height: 370px;" src="../../../assets/img/bg/stu2.png"  class="stu_img"></div>
      </div>
    </div>
</header>